<div class="cmd cmd-widget #history#" style="float:left; clear:both;" data-type="info" data-subtype="string" data-template="default" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
	<div class="content-xs">
		<span class="cmdName #hide_name#">#name_display#</span>
		<strong class="state"></strong>
	</div>
	<script>
                jeedom.cmd.update['#id#'] = function(_options) {
                        var cmd = $('.cmd[data-cmd_id=#id#]')
                        cmd.attr('title','Date de valeur : '+_options.valueDate+'<br/>Date de collecte : '+_options.collectDate)
                        cmd.find('.state').empty().append(_options.display_value)
                  		if (_options.display_value == 'Wide') {
							cmd.find('.state').empty().append('<img class="img-responsive" src="data/img/electrical_power_on.png" width="80%" height="80%">')
                        } else {
                            cmd.find('.state').empty().append('<i class="fas fa-times"></i>')
                        }
                }
                jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'})
    </script>
</div>